h1 {
  color: rgb(255, 254, 154);
  text-align: center;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
  margin-bottom: 10px;
  margin: 0.67em 0;
}

h5 {
  color: rgb(243, 163, 51);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
@media (max-width: 479px) {
  h1 {
    margin-top: 0;
    padding-top: 23px;
  }
}
.word-container {
  display: block;
}

.word-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 23px;
}

@media (max-width: 767px) {
  .word-list {
    padding-left: 7px;
    padding-right: 7px;
  }
}
@media (max-width: 479px) {
  .word-list {
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
  }
}
.word {
  color: rgb(243, 163, 51);
  font-size: 42px;
}
.word:hover {
  color: rgb(241, 104, 33);
}
@media (max-width: 767px) {
  .word {
    line-height: 40px;
    text-align: center;
  }
}
@media (max-width: 479px) {
  .word {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    line-height: 40px;
    padding: 15px 7px;
    text-align: center;
  }
}
